/*.first-stuff {
    background: 134, 226, 213;

}*/
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; 
    height: 100%;
    margin: 0 auto -155px; 
}
.footer, .push {
    height: 155px; 
}



#page_top {
    padding-left: 10px;
    /*background: #23B684;*/
    background: #00274c;
    border: solid 2px #B1A65B;
}
#page_top h1 {
    color: white;
   /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
   border-left: solid #ffcb0b; 
   border-right: solid #ffcb0b; 
}

/*.first-stuff{
    margin-left: 0px;
    margin-right: 0px;
}*/


body {
    padding-top:50px;
    background-color: rgba(159, 180, 185, .15) !important;
    color:#00274c;

}

.pk {
	float:right !important;
}
.jumbotron {
	background-image:url('/static/golfire.jpg'); 
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;

}

.jumbotron h1{
	padding-left: 0px;
}


.myBackground {
  background-color: rgba(255,255,255, 0.5);
  color: inherit;
}

#music {
    margin: 0px;
}

header{
	background-color: white;
}

.logo-right{
	float:right !important;
}

.logo-wide{
	letter-spacing: 4px;
}

/*h1 {
	padding-left: 10px;
}*/
.text-center {
	text-align: center;
}
.carousel {
    margin-bottom: 25px;
    }
.carousel .container {
   	position: relative;
    z-index: 9;
    }
.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    /*text-shadow: 0 1px 1px rgba(0,0,0,.4);*/
    background-color: transparent;
    border: 0;
    z-index: 10;
    }
.carousel .item {
    height: 500px;
    }
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    }
.carousel-control {
	/*margin-top: 250px;*/
	height: 500px;
}

.glyphicon {
	margin-top: 250px;
	font-size: 30px;
}
.carousel-caption {
    right: 20%;
    left: 15%;
    padding-bottom: 30px;
    bottom: 30%;
    width:25%;
/*    right: 20%;
    left: 20%;
    padding-bottom: 30px;*/
    background-color: rgba(255,255,255, 0.5);
    color: inherit;
    text-shadow:unset;
}

footer {
	padding: 25px;
	padding-left: 0px;
	padding-bottom: 50px;
	background-color: #f8f8f8;
    border-top: solid 2px #ffcb0b;


}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 33px;
}

.navbar-default .navbar-brand {
    /*color: #3498db;*/
    font-size: 25px;
}



li:hover {
    color: white;
    background-color: #00274c;
}
li > a:hover {
    color:white !important;
}

.navbar-default .navbar-nav>.active>a {
    /*background-color: #23B684;*/
    background-color: #ffcb0b;
}

.navbar-default .navbar-nav>.active>a:hover {
    background-color: #00274c;
}

.last-change {
    height:50% !important;
    width: 50% !important;
}

@media(min-width: 1200px) {
    .container {
    width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
    width: 100%;
    }
    .col-md-4 {
        width:33.33333333% !important;
    }
}


@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .col-sm-4 {
        float:unset !important;
        width:unset !important;
        position:unset !important;
    }

    .col-sm-8 {
        float:unset !important;
        position:unset !important;
        width:unset !important;
    }
    .col-sm-6 {
        float:unset !important;
        position:unset !important;
        width:unset !important;
    }

    .gally {
        float:left !important;
        width:50% !important;

    }
    .last-change {
    height:25% !important;
    width: 25% !important;
}


}

@media (min-width: 768px) {
    .container {
    width: 100%;
    }

    .alt_top {
    display: none;
}

/*    .col-sm-6 {
        float:unset !important;
        right:unset !important;
        width:unset !important;
        position:unset !important;
    }*/

}

@media (max-width: 768px) {
/*    .no_border {
        display:none;
    }*/
    #carousel-example-generic {
        display:none;
    }
    .alt_top {
        background-image:url('/static/big_house.JPG');
        height: 250px;

    }

    .changer {
        height: 250px;
    }
    .col-md-4 {
        width: 50% !important;
    }
    .gally {
        width:100% !important;
    }

    .dnone {
        display:none !important;
    }

}


.goog-te-banner-frame {
    /*bottom:0px;*/
    top:unset;
    background-color: white;
    background-image: unset;
}

body.goog-te-banner {
    background-image: unset;
    background-color: white;
}

.bar-6 {
    padding-top: 30px;
}

.main_stuff h1 {
    margin-top: 0px;
    border-top: #ffcb0b;

}
.main_stuff {
    /*background-color: rgba(159, 180, 185, .15) !important;*/
    border-top: #ffcb0b;
}

#calender {
    margin: 0px;
}

.no_border {
    border:unset;
}

.col-md-8 p {
    font-size: 15pt;
}

.thumbnail img {
    width: 300px;
    height: 250px;
    margin:0px !important;
    
}
.thumbnail {
    background-color: unset !important;
    text-align:center;
    float: none !important;
    display: block;

}

.thumbnail > img {
    display:inline-block !important;
}

.enlarge img:hover {
    height:350px;
    width:500px;

}

.small_text {
    font-size: 8pt;
}

.panel-color {
    border-color: #00274c;
}

.panel-color > .panel-heading {
    background: #00274c;
}

.panel-title {
    color: white;
}
label {
    color:#999;
}

.btn-u.btn-u-blue {
    background: #00274c;
}
.btn-u {
    color:white;
    padding: 6px 13px;
    border:0;
}

.form-control {
    width: 100%;
}
.former {
    margin-top: 20px;
}
.navbar-default .navbar-nav>a:hover {
    color:white !important;
}

.no-hover>a :hover{
    color: unset !important;
}

.exception {
    height: 300px !important;
}
.ps {
    height: 225px !important;
}
.no-pad {
    padding:0px !important;
}

.img-circle {
    border-radius: 50%;
    width:80px; /* you can use % */
    height: auto;
    margin:0 auto;
    display:block;
}
.img-circle2 {
    border-radius: 50%;
    width:50px; /* you can use % */
    height: auto;
}

.centerer {
    margin: 0 auto;
    text-align: center;
}
.bigtext {
    font-size: 20pt;
}

a span.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.footer-container {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.calendar_obselete {
    border-width:0 !important; 
    width:100% !important; 
    height:250px !important; 
    frameborder:0 !important;
    scrolling:no !important;
}


/*.tiny {
    font-size: .1px
}*/
/*.rotate {
    transform:rotate(90deg);
}*/
/*.carousel img {
	position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    }*/
/*'http://imgur.com/a/J7kZJ'*/