/*.first-stuff {
    background: 134, 226, 213;

}*/
#page_top {
    padding-left: 10px;
    background: #23B684;
}
#page_top h1 {
    color: white;
   /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

/*.first-stuff{
    margin-left: 0px;
    margin-right: 0px;
}*/


body {
    padding-top:50px;

}

.pk {
	float:right !important;
}
.jumbotron {
	background-image:url('/static/Wales.jpg'); 
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;

}

.jumbotron h1{
	padding-left: 0px;
}

.myBackground {
  background-color: rgba(255,255,255, 0.5);
  color: inherit;
}

#music {
    margin: 0px;
}

header{
	background-color: white;
}

.logo-right{
	float:right !important;
}

.logo-wide{
	letter-spacing: 4px;
}

h1 {
	padding-left: 10px;
}
.text-center {
	text-align: center;
}
.carousel {
    margin-bottom: 25px;
    }
.carousel .container {
   	position: relative;
    z-index: 9;
    }
.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    /*text-shadow: 0 1px 1px rgba(0,0,0,.4);*/
    background-color: transparent;
    border: 0;
    z-index: 10;
    }
.carousel .item {
    height: 500px;
    }
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    }
.carousel-control {
	/*margin-top: 250px;*/
	height: 500px;
}

.glyphicon {
	margin-top: 250px;
	font-size: 30px;
}
.carousel-caption {
    right: 65%;
    left: 0%;
    padding-bottom: 30px;
    bottom: 40%;
/*    right: 20%;
    left: 20%;
    padding-bottom: 30px;*/
    background-color: rgba(255,255,255, 0.5);
    color: inherit;
    text-shadow:unset;
}

footer {
	padding: 50px;
	padding-left: 0px;
	padding-bottom: 100px;
	background-color: #f8f8f8;
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 33px;
}

.navbar-default .navbar-brand {
    /*color: #3498db;*/
    font-size: 25px;
}

/*.navbar-brand {
    margin:0px;
    padding: 0px;
    height: 70px;
    padding-top: 35px;
}

.navbar-nav li a {
    line-height: 50px;
    height: 70px;
    padding-top: 0;
}*/


/*.navbar-right #nav-test > .active > li{
	background-color:red;
	color:blue;
}*/


/*li a:active {
	background-color: red;
	color: red;
}*/

/*.navbar-default .navbar-nav>li>a {
	color: red;
}*/

/*.navbar-default .navbar-nav > .active >  a {
    color: red;
}

a:active{
	color: red;
}*/

.active li {
    color: red;
    background-color: red;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #23B684;
}

@media(min-width: 1200px) {
    .container {
    width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
    width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
    width: 100%;
    }
}

.goog-te-banner-frame {
    /*bottom:0px;*/
    top:unset;
    background-color: white;
    background-image: unset;
}

body.goog-te-banner {
    background-image: unset;
    background-color: white;
}

.bar-6 {
    padding-top: 30px;
}

.main_stuff h1 {
    margin-top: 0px;
}

#calender {
    margin: 0px;
}
/*.carousel img {
	position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    }*/
/*'http://imgur.com/a/J7kZJ'*/