{%extends "templates/PortfolioBase.html" %}

<!-- {% block page_heading %}
<div class="first-stuff">
	<div class = "row" id ="about_me">
		<h1> About me</h1>
	</div>
</div>

{% endblock %}
 -->
{% block topper %} About me {% endblock %}
	
{% block calender %}
<div class = "container calender" id = "calender">
	<div class = "row">
		
		<div class = "col-sm-6">
			<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=umich.edu_cm8b7sur9k6dvofkic7jjqsvds%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="100%" height="250px" frameborder="0" scrolling="no"></iframe>
		</div>

		<div class = "col-sm-6">
			<h2 class ="section-heading">Events</h2>
			<p class="lead bigtext">This is a calender of some of the things that I plan on doing. You should be able to look and add events to the calendar if you are logged in with a Google account. Just click the + button in the bottom right corner of the page.</p>
		</div>
	</div>
</div>
{% endblock %}

{% block spotify %}
<div class = "container spotify" id ="music">
	<div class = "row">
		<div class = "col-sm-8">
			<h2 class ="section-heading">Music</h2>
			<p class="lead bigtext">This is one playlist of the music that I have been listening too. I generally like all types of music. Anything from electronic to jazz to indie rock to alternative. I enjoy finding music that I have not heard before.</p>
		</div>
		<div class = "col-sm-4">
			<iframe src="https://embed.spotify.com/?uri=spotify:album:3DiHrdZ5z0AqW6JTpLAKxG" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
		</div>
	</div>
</div>
{% endblock %}

{% block head_1 %} General Information{% endblock %}
{% block para_1 %} I was recently accepted into the BSI program at the University of Michigan. The track I am planning on pursuing is "User Experience Design". I will also continue to persue a Spanish Minor through the LSA in combination with the BSI program.{% endblock %}
{% block img_1 %}<img class="center-block exception" src="/static/nq.jpg" alt = "North Quad Pillars"/>{% endblock %}

{% block head_2 %} Hobbies{% endblock %}
{% block para_2 %}I play the acoustic and electric guitar and am currently learning the mandolin. I used to play ins some of my church's masses when I was in high-school. {% endblock %}
{% block img_2 %}<img class="center-block exception" src="/static/guitar.jpg" alt = "Guitar"/>{% endblock %}

{% block head_3 %}Sports and Athletics{% endblock %}
{% block para_3 %}I have played soccer since I was five years old. Now, I mostly run, hike, and mountain bike. Some of my notable hiking trips were in Yosemite, Grand Canyon, and in Sedona. The mountain bike trails I ride on are more local like the "Novi Tree Farm" as well as in Proud Lake.{% endblock %}

{% block img_3 %}<img class="center-block exception" src="/static/realmanch.JPG" alt = "Real Madrid vs Manchester"/>{% endblock %}


{% block jumbo %}
<div class="jumbotron changer">
    <div class="container myBackground">
    	<h1>Music and Hobbies</h1>
        	<p>From Yosemite to Ireland</p>
        	<!-- <a href="#">Do I need a link?</a> -->
      	</div>
    </div>

{% endblock %}


{% block content %}

{% endblock %}

{% block slide_1 %}
<img src="/static/Wales.jpg" alt="...">
{% endblock %}