{%extends "templates/PortfolioBase.html" %}


{% block topper %} Contact Me {% endblock %}

{% block contact %}


<!-- 		<p>{{Bad}}</p>
		<form action = "/contactme.html" method = "post">
		<label>username: <input type = "text" name = "name"></label>
		<label>password: <input type = "password" name = "pw"></label>
		<label>email: <input type = "email" name = "email_address"></label>
		<input type = "submit" value = "login">
	</form> 
	<p>{{Load1}}</p>
	<p>{{TESTE}}</p> -->

<div class ="row former">
	<div class = "col-md-8">
		<div class="panel panel-color margin-bottom-40">
	    <div class="panel-heading">
	        <h3 class="panel-title"><i class="fa fa-tasks"></i> Contact Me</h3>
	    </div>
	    <div class="panel-body">
	        <form action = "/contactme.html" method = "post" class="margin-bottom-40" role="form">
	            <div class="form-group">
	           		<label>Your Name
	                    <!-- <input type="name" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> -->
	                    <input type = "text" name = "name" placeholder="Enter Name" class="form-control">
	               	</label>
	            </div>
	            <div class="form-group">
	                <label>Your Email
	                    <!-- <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
	                    <input type = "email" name = "email_address" placeholder="Enter email" class="form-control">
	                    </label>
	            </div>
	<!--             <div class="checkbox">
	               	<label>
	                	<input type="checkbox"> Check me out
	                </label>
	            </div> -->
	   			 <button type="submit" class="btn-u btn-u-blue">Submit</button>
	        </form>
	   	</div>
	   </div>
	</div>
	<div class = "col-md-4">
		<p>Once you submit your name and email, you should get an email sent to that address with your inputted name in the body of the email</p>
	</div>
</div>
{% endblock %}


