{%extends "templates/PortfolioBase.html" %}
{% block content %}

{% endblock %}

{% block topper %} Photo Gallery {% endblock %}

{% block gallery %}
<div class = "row one">
	<div class = "col-sm-6 col-md-4">
		<div class = "thumbnail enlarge">
			<img src="static/glacier.jpg" alt="Glacier Point">
			<h3>Glacier Point Yosemite</h3>
			<p>The top of the park at Yosemite where you can get a beautiful view of most of the park.</p>
		</div>
	</div>

	<div class = "col-sm-6 col-md-4">
		<div class = "thumbnail enlarge">
			<img src="static/upper fall.jpg" alt="BH">
			<h3>Vernal Falls</h3>
			<p>There were two sets of falls on the path we went on. This was the view of the lower fall from above.</p>
		</div>
	</div>

	<div class = "col-sm-6 col-md-4 no-pad">
		<div class = "thumbnail enlarge">
			<img class = "rotate" src="static/pinnacle.JPG" alt="BH">
			<h3>Pinnacles National Park</h3>
			<p>A few years later but a view from below the "pinnacles" at Pinnacles National park in California.</p>
		</div>
	</div>
</div>

<div class = "row two">
	<div class = "col-sm-6 col-md-4">
		<div class = "thumbnail enlarge">
			<img src="static/tower.jpg" alt="Wales">
			<h3>Ireland Tower</h3>
			<p>A simple tower ruin on the coast of one of Ireland's bays.</p>
		</div>
	</div>

	<div class = "col-sm-6 col-md-4">
		<div class = "thumbnail enlarge">
			<img src="static/kerry.JPG" alt="BH">
			<h3>More Ireland</h3>
			<p>This was a view on our drive around the "Ring of Kerry".</p>
		</div>
	</div>

	<div class = "col-sm-6 col-md-4 no-pad">
		<div class = "thumbnail enlarge">
			<img class = "rotate" src="static/penin.JPG" alt="BH">
			<h3>Peninsula</h3>
			<p>A peninsula with broken off sections. The views were stunning.</p>
		</div>
	</div>
</div>


<div class = "row three">
	<div class = "col-sm-6 col-md-4">
		<div class = "thumbnail enlarge">
			<img src="static/grandcanyon.jpg" alt="Wales">
			<h3>Grand Canyon</h3>
			<p>A picture of my first view of the Grand Canyon.</p>
		</div>
	</div>

	<div class = "col-sm-6 col-md-4">
		<div class = "thumbnail enlarge">
			<img src="static/path.jpg" alt="BH">
			<h3>Canyon Trail</h3>
			<p>A path down to the "Indian Gardens" in the Grand Canyon.</p>
		</div>
	</div>

	<div class = "col-sm-6 col-md-4 no-pad">
		<div class = "thumbnail enlarge">
			<img src="static/aruba.jpg" alt="BH">
			<h3>Aruba</h3>
			<p>A natural land bridge in Aruba.</p>
		</div>
	</div>
</div>
{% endblock %}
