<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<script type="text/javascript" src="js/myjs.js"></script>

  <link rel="stylesheet" type="text/css" href="static/bootstrap-social.css"/>

  <!-- <link rel="stylesheet" type="text/css" href="static/font-awesome.css"/> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="static/stylesheet.css"/>

  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


</head>



<body>
<div class="wrapper">

	<!-- </header> -->

    <!-- Navigation -->
  <header>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav no-hover"><span><img class="img-circle2" src="/static/2ndpro.jpg" alt = "picture of me"/></span> Adam Mason</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" id="nav">
            
                    <li id = "firster" class = "george">
                        <a href="/home.html">Home</a>
                    </li>
                    <li>
                        <a href="/aboutme.html">About Me</a>
                    </li>
                    <li>
                        <a href="/resume.html">Skills</a>
                    </li>
                    <li>
                    	<a href="/volunteering.html">Jobs and Volunteering</a>
                    </li>
                    <li>
                      <a href="/photos.html"> Photo Gallery</a>
                    </li>
<!--                     <li>
                      <a href="/blog.html"> Blog? </a>
                    </li> -->
                    <li>
                      <a href="/contactme.html"> Contact Me </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 

<!-- {% block page_heading %}{% endblock %} -->

<div class="container first-stuff">
  <div class = "row" id ="page_top">
    <div class = "col-md-12">
      <h1> {% block topper %}{% endblock %}</h1>
    </div>
  </div>
</div>

</header>


	
{% block success %}{% endblock %}

{% block big_image %}{% endblock %}

{% block alt %}{% endblock %}



{% block gallery %}{% endblock %}

{% block jumbo %}{% endblock %}

{% block contact %}{% endblock %}

{% block blog %}{% endblock %}

{% block progress %}{% endblock %}

{% block calender %}{% endblock %}

{% block spotify %}{% endblock %}

	
	<!-- <div class="Testing-stuff" id = "content_boxes"> -->
<div class= "container second-stuff" id = "content_boxes">
<!--             <h2 class = "title text-center"> This is a Test </h2>
            <p class = "more-info text-center"> Not sure what bootstrap is?</p> -->
  <div class="content-section-a">
    <div class="container">
      <div class="row main_stuff">
        <div class="col-sm-push-4  col-sm-8">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading">{% block head_1 %}You wont see this{% endblock %}</h2>
          <p class="lead bigtext">{% block para_1 %}You wont see this{% endblock %}</p>
        </div>

        <div class="col-sm-pull-8  col-sm-4">
          <div class = "thumbnail no_border dnone">
            {% block img_1 %}{% endblock %}
          </div>
        </div>
      </div>
  </div>
</div>
        <!-- /.container -->


<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-sm-8">
                    <!-- <hr class="section-heading-spacer"> -->
        <div class="clearfix"></div>
        <h2 class="section-heading">{% block head_2 %}You wont see this{% endblock %}</h2>
        <p class="lead bigtext">{% block para_2 %}You wont see this{% endblock %}</p>
      </div>
      <div class="col-sm-4">
        <div class = "thumbnail no_border dnone">
          {% block img_2 %}You wont see this{% endblock %}
        </div>
      </div>
    </div>

  </div>
        <!-- /.container -->
</div>
          
<div class="content-section-c">
  <div class="container">
    <div class="row main_stuff">
      <div class="col-sm-push-4  col-sm-8">
                    <!-- <hr class="section-heading-spacer"> -->
        <div class="clearfix"></div>
        <h2 class="section-heading">{% block head_3 %}You wont see this{% endblock %}</h2>
        <p class="lead bigtext">{% block para_3 %}You wont see this{% endblock %}</p>
      </div>
      <div class="col-sm-pull-8  col-sm-4">
        <div class = "thumbnail no_border dnone">
          {% block img_3 %}You wont see this{% endblock %}
        </div>
      </div>
    </div>

  </div>
        <!-- /.container -->

</div>
</div>


	
	{% block content %}

	{% endblock %}

<div class= "push"></div>
</div>

	<footer>
		<div class = "container footer-stuff">
      <div class = "footer-container col-md-4">
  			<p>Copyright &copy; Adam Mason. Here is a link to the <a href = "http://umsi.umich.edu">UMSI webpage</a>.</p>
        <div id="google_translate_element"></div>
  		</div>
      
      <div class = "col-md-4 centerer">
        <!-- <p> SOCIAL MEDIA ICONS GO HERE</p> -->
          <p>Contact me on social media:</p>

          <a href = "https://www.facebook.com/adam.mason.5680" class="btn btn-social-icon btn-facebook tiny">
            <span class="fa fa-facebook"></span> <span class = "screen-reader-text">
            Facebook</span>
          </a>

          <a href = "https://github.com/adamason/" class="btn btn-social-icon btn-github tiny">
            <span class="fa fa-github"></span><span class = "screen-reader-text">
            Github</span>
          </a>

          <a href = "https://www.linkedin.com/in/adam-mason-49462bb0" class="btn btn-social-icon btn-linkedin tiny">
            <span class="fa fa-linkedin"></span><span class = "screen-reader-text">
            LinkedIn</span>
          </a>
          
          <p class = "small_text"> (Remove ad-block to see all social media icons) </p>
      </div>

      <div class = "col-md-3 centerer">
        <p>Contact me at : adamason@umich.edu </p>
      </div>
      <div class = "col-md-1">
        <img class="img-circle" src="/static/2ndpro.jpg" alt = "picture of me"/>
      </div>

    </div>

	</footer>


<script src="js/jquery-2.2.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>	

<script>
  $('li').each(function(){
    if(window.location.href.indexOf($(this).find('a:first').attr('href'))>-1)
    {
    $(this).addClass('active').siblings().removeClass('active');
    }
});
</script>

<script>
$(function(){
  
  var path = "first"
  function stripTrailingSlash(str) {
    if(str.substr(-1) == '/') {
      return str.substr(0, str.length - 1);
    }
    return str;
  }

  var url = window.location.pathname;  
  var activePage = stripTrailingSlash(url);

  $('.nav li a').each(function(){  
    var currentPage = stripTrailingSlash($(this).attr('href'));

    console.log(url);
    if (activePage == currentPage) {
      $(this).parent().addClass('active'); 

    } 
    else if (url == "/") {
      document.getElementById("firster").className = "active";
    }
  });
});
</script>

<script>
  $(function(){
    var path = "first"
    function stripTrailingSlash(str) {
      if(str.substr(-1) == '/') {
      return str.substr(0, str.length - 1);
      }
      return str;
    }
    var url = window.location.pathname;  
    var activePage = stripTrailingSlash(url);

    console.log(activePage)
    if (activePage == "/contactme.html" || activePage == "/photos.html") {
      document.getElementById( "content_boxes" ).style.display = 'none';
    }
  })
</script>
 
 <script>
   $('h1').each(function(){
       if($(this).is(':empty')){
         $(this).remove()
       }
    });
</script>


</body>
</html>