{%extends "templates/PortfolioBase.html" %}
{% block content %}
		<p>
			To talk about previous jobs and volunteering experience.</p>
{% endblock %}
{% block topper %} Jobs and Volunteering {% endblock %}

{% block head_1 %} Jobs{% endblock %}
{% block para_1 %} I have caddied for the past 5-6 years at Oakland Hills Country Club in Bloomfield Hills, MI.{% endblock %}

{% block head_2 %} Mission Trips{% endblock %}
{% block para_2 %}Appalachia through "Reach" twice. One was in Newfane, NY and the other was in (Virginia?){% endblock %}

{% block head_3 %}Potential next oppurtunities{% endblock %}
{% block para_3 %} I might volunteer to help the Siena Literacy Center. {% endblock %}