{%extends "templates/PortfolioBase.html" %}
{% block content %}

{% endblock %}

{% block topper %} Jobs and Volunteering {% endblock %}

{% block head_1 %} Jobs{% endblock %}
{% block para_1 %} I have caddied for the past 5-6 years at Oakland Hills Country Club in Bloomfield Hills, MI. I always liked working outside rather than working in fast-food or other service industry jobs. Additionally, I play and enjoy watching golf so caddying was a good first job.{% endblock %}
{% block img_1 %}<img class="center-block" src="/static/oaklandhills.jpg" alt = "Oakland Hills"/>{% endblock %}

{% block head_2 %} Mission Trips{% endblock %}
{% block para_2 %}In total, I have gone on two, one-week mission trips to places that are in need of help to fix their homes. This was the "Appalachia mission trip" that my youth group offered during my high school years. This program was coordinated through "Reach" twice. One of the trips was in Newfane, NY and the other was in Virginia. The people I met were all so kind and giving.{% endblock %}
{% block img_2 %}<img class="center-block" src="/static/reach.jpg" alt = "Group Picture infront of a house"/>{% endblock %}

{% block head_3 %}Potential next oppurtunities{% endblock %}
{% block para_3 %} This summer instead of getting an internship, I might volunteer to help the Siena Literacy Center in Detroit. I would be able to help people learn English as a second language and possibly help those who come from Hispanic backgrounds due to my knowledge of Spanish. {% endblock %}
{% block img_3 %}<img class="center-block" src="/static/slc.png" alt = "Siena Learning Center"/>{% endblock %}